In [1]:
import pandas as pd
data = pd.read_csv("bureau.csv")
data

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.00,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.00,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.50,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.00,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.00,NaN,NaN,0.0,Consumer credit,-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716423,259355,5057750,Active,currency 1,-44,0,-30.0,NaN,0.0,0,11250.00,11250.0,0.0,0.0,Microloan,-19,NaN
1716424,100044,5057754,Closed,currency 1,-2648,0,-2433.0,-2493.0,5476.5,0,38130.84,0.0,0.0,0.0,Consumer credit,-2493,NaN
1716425,100044,5057762,Closed,currency 1,-1809,0,-1628.0,-970.0,NaN,0,15570.00,NaN,NaN,0.0,Consumer credit,-967,NaN
1716426,246829,5057770,Closed,currency 1,-1878,0,-1513.0,-1513.0,NaN,0,36000.00,0.0,0.0,0.0,Consumer credit,-1508,NaN
1716427,246829,5057778,Closed,currency 1,-463,0,NaN,-387.0,NaN,0,22500.00,0.0,NaN,0.0,Microloan,-387,NaN

In [2]:
# Eksplorasi dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1716428 entries, 0 to 1716427
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_CURR              int64
 1   SK_ID_BUREAU            int64
 2   CREDIT_ACTIVE           object
 3   CREDIT_CURRENCY         object
 4   DAYS_CREDIT             int64
 5   CREDIT_DAY_OVERDUE      int64
 6   DAYS_CREDIT_ENDDATE     float64
 7   DAYS_ENDDATE_FACT       float64
 8   AMT_CREDIT_MAX_OVERDUE  float64
 9   CNT_CREDIT_PROLONG      int64
 10  AMT_CREDIT_SUM          float64
 11  AMT_CREDIT_SUM_DEBT     float64
 12  AMT_CREDIT_SUM_LIMIT    float64
 13  AMT_CREDIT_SUM_OVERDUE  float64
 14  CREDIT_TYPE             object
 15  DAYS_CREDIT_UPDATE      int64
 16  AMT_ANNUITY             float64
dtypes: float64(8), int64(6), object(3)
memory usage: 222.6+ MB

In [3]:
# Melihat apakah ada nilai Nan
data.isnull().sum()

SK_ID_CURR                      0
SK_ID_BUREAU                    0
CREDIT_ACTIVE                   0
CREDIT_CURRENCY                 0
DAYS_CREDIT                     0
CREDIT_DAY_OVERDUE              0
DAYS_CREDIT_ENDDATE        105553
DAYS_ENDDATE_FACT          633653
AMT_CREDIT_MAX_OVERDUE    1124488
CNT_CREDIT_PROLONG              0
AMT_CREDIT_SUM                 13
AMT_CREDIT_SUM_DEBT        257669
AMT_CREDIT_SUM_LIMIT       591780
AMT_CREDIT_SUM_OVERDUE          0
CREDIT_TYPE                     0
DAYS_CREDIT_UPDATE              0
AMT_ANNUITY               1226791
dtype: int64

In [4]:
# Menghapus missing value
df = data.dropna(inplace=True)

# Melihat apakah ada nilai Nan
data.isnull().sum()

SK_ID_CURR                0
SK_ID_BUREAU              0
CREDIT_ACTIVE             0
CREDIT_CURRENCY           0
DAYS_CREDIT               0
CREDIT_DAY_OVERDUE        0
DAYS_CREDIT_ENDDATE       0
DAYS_ENDDATE_FACT         0
AMT_CREDIT_MAX_OVERDUE    0
CNT_CREDIT_PROLONG        0
AMT_CREDIT_SUM            0
AMT_CREDIT_SUM_DEBT       0
AMT_CREDIT_SUM_LIMIT      0
AMT_CREDIT_SUM_OVERDUE    0
CREDIT_TYPE               0
DAYS_CREDIT_UPDATE        0
AMT_ANNUITY               0
dtype: int64

In [5]:
data

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
822,298038,5715510,Closed,currency 1,-586,0,-339.0,-553.0,0.000,0,40791.330,0.0,0.0,0.0,Consumer credit,-553,67995.000
846,200527,5715537,Closed,currency 1,-824,0,-521.0,-581.0,0.000,0,89415.000,0.0,0.0,0.0,Consumer credit,-580,8245.395
849,393321,5715540,Closed,currency 1,-146,0,935.0,-41.0,0.000,0,445262.940,0.0,0.0,0.0,Consumer credit,-35,12162.150
896,296586,5715600,Closed,currency 1,-359,0,-55.0,-55.0,0.000,0,77239.035,0.0,0.0,0.0,Consumer credit,-50,0.000
902,190334,5715607,Closed,currency 1,-2320,0,-1953.0,-1953.0,0.000,0,64851.750,0.0,0.0,0.0,Consumer credit,-1155,16200.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716121,366608,5047705,Closed,currency 1,-2504,0,-2199.0,-2199.0,0.000,0,87862.500,0.0,0.0,0.0,Consumer credit,-2199,30600.000
1716126,217655,5047824,Closed,currency 1,-1050,0,-684.0,-684.0,0.000,0,55521.000,0.0,0.0,0.0,Consumer credit,-682,0.000
1716275,129052,5053577,Closed,currency 1,-2870,0,-2564.0,-2564.0,1611.045,0,15705.000,0.0,0.0,0.0,Consumer credit,-2557,43735.500
1716285,435426,5053678,Closed,currency 1,-1147,0,-416.0,-849.0,0.000,0,205488.000,0.0,0.0,0.0,Consumer credit,-835,94378.500
1716291,245498,5053747,Closed,currency 1,-2582,0,-2214.0,-2018.0,0.000,0,49495.500,0.0,0.0,0.0,Consumer credit,-2017,12600.000

In [6]:
# Pilih variabel yang akan digunakan
selected_features = [
    'DAYS_CREDIT',
    'CREDIT_DAY_OVERDUE',
    'DAYS_CREDIT_ENDDATE',
    'DAYS_ENDDATE_FACT',
    'AMT_CREDIT_MAX_OVERDUE',
    'CNT_CREDIT_PROLONG',
    'AMT_CREDIT_SUM',
    'AMT_CREDIT_SUM_DEBT',
    'AMT_CREDIT_SUM_LIMIT',
    'AMT_CREDIT_SUM_OVERDUE',
    'DAYS_CREDIT_UPDATE',
    'AMT_ANNUITY',
]

In [7]:
# Mengganti nilai 'active' dengan 1 dan 'closed' dengan 0
data['CREDIT_ACTIVE'] = data['CREDIT_ACTIVE'].replace(
    {'active': 1, 'closed': 0})

In [8]:
target_variable = 'CREDIT_ACTIVE'  # Variabel target biner yang ingin diprediksi

In [9]:
# Memisahkan variabel independen (X) dan dependen (y)
X = data[selected_features]
y = data[target_variable]

In [10]:
data

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
822,298038,5715510,Closed,currency 1,-586,0,-339.0,-553.0,0.000,0,40791.330,0.0,0.0,0.0,Consumer credit,-553,67995.000
846,200527,5715537,Closed,currency 1,-824,0,-521.0,-581.0,0.000,0,89415.000,0.0,0.0,0.0,Consumer credit,-580,8245.395
849,393321,5715540,Closed,currency 1,-146,0,935.0,-41.0,0.000,0,445262.940,0.0,0.0,0.0,Consumer credit,-35,12162.150
896,296586,5715600,Closed,currency 1,-359,0,-55.0,-55.0,0.000,0,77239.035,0.0,0.0,0.0,Consumer credit,-50,0.000
902,190334,5715607,Closed,currency 1,-2320,0,-1953.0,-1953.0,0.000,0,64851.750,0.0,0.0,0.0,Consumer credit,-1155,16200.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716121,366608,5047705,Closed,currency 1,-2504,0,-2199.0,-2199.0,0.000,0,87862.500,0.0,0.0,0.0,Consumer credit,-2199,30600.000
1716126,217655,5047824,Closed,currency 1,-1050,0,-684.0,-684.0,0.000,0,55521.000,0.0,0.0,0.0,Consumer credit,-682,0.000
1716275,129052,5053577,Closed,currency 1,-2870,0,-2564.0,-2564.0,1611.045,0,15705.000,0.0,0.0,0.0,Consumer credit,-2557,43735.500
1716285,435426,5053678,Closed,currency 1,-1147,0,-416.0,-849.0,0.000,0,205488.000,0.0,0.0,0.0,Consumer credit,-835,94378.500
1716291,245498,5053747,Closed,currency 1,-2582,0,-2214.0,-2018.0,0.000,0,49495.500,0.0,0.0,0.0,Consumer credit,-2017,12600.000

In [14]:
# Memisahkan data menjadi data pelatihan dan pengujian
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [16]:
# Normalisasi data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [17]:
# Membuat model regresi logistik
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=42)
model.fit(X_train, y_train)

c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=42)

In [18]:
# Memprediksi variabel target pada data pengujian
y_pred = model.predict(X_test)

In [19]:
# Mengukur kinerja model
from sklearn.metrics import accuracy_score, classification_report
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [20]:
print("Akurasi:", accuracy)
print("Laporan Klasifikasi:\n", report)

Akurasi: 0.9928157297706075
Laporan Klasifikasi:
               precision    recall  f1-score   support

      Active       0.00      0.00      0.00        14
    Bad debt       0.00      0.00      0.00         0
      Closed       0.99      1.00      1.00      7884
        Sold       0.00      0.00      0.00        36

    accuracy                           0.99      7934
   macro avg       0.25      0.25      0.25      7934
weighted avg       0.99      0.99      0.99      7934